<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">


    <th:block th:fragment="content">
        <h1 class="mt-4">Meeting Review List Page

            <span sec:authorize="isAuthenticated()">
                <a th:href="@{/review/reviewRegister(email = ${session['user'].email})}">
                    <button type="button" class="btn btn-outline-primary">
                        REGISTER
                    </button>
                </a>
            </span>

        </h1>



        <!--        데이타 로우-->
        <table class="table table-striped">
            <thead>
            <!--            <th scope="col">#</th>-->
            <th  scope="col">Title</th>
            <th  scope="col">Like</th>
            <th  scope="col">Writer</th>
            <th  scope="col">Regdate</th>

            </thead>




            <tbody>
            <tr th:each="dto : ${result.dtoList}">

                <th scope="row">
                    <img th:if="${dto.imageList.size() > 0 && dto.imageList[0].path != null}"
                         th:src="|/review/getPhoto?fileName=${dto.imageList[0].getThumImgURL()}|">

                    <a th:href="@{/review/reviewRead(rro= ${dto.rro}, page = ${result.page}, type=${requestDTO.type},
                    typeKeyword = ${requestDTO.typeKeyword} , region = ${requestDTO.region},
                    regionKeyword=${requestDTO.regionKeyword}, minCost =${requestDTO.minCost},
                    maxCost=${requestDTO.maxCost})}">
                        [[${dto.title}]]</a>
                </th>




                <td> <img src="/img/icons8-facebook-like-24_fill.png"><small>[[${dto.like.likeCnt}]]</small></td>
                <td><small>[[${dto.writerEmail}]]</small></td>
                <td><small>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</small></td>

            </tr>


            </tbody>
        </table>
        <!--       -->
        <!--        하단 페이지 리스트-->
        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/review/reviewList(page= ${result.start - 1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page? 'active' : ''} "
                th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/review/reviewList(page= ${page},type=${requestDTO.type},
                    typeKeyword = ${requestDTO.typeKeyword} , region = ${requestDTO.region},
                    regionKeyword=${requestDTO.regionKeyword}, minCost =${requestDTO.minCost},
                    maxCost=${requestDTO.maxCost})}">

                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/review/reviewList(page= ${result.end + 1}, type=${requestDTO.type},
                    typeKeyword = ${requestDTO.typeKeyword} , region = ${requestDTO.region},
                    regionKeyword=${requestDTO.regionKeyword}, minCost =${requestDTO.minCost},
                    maxCost=${requestDTO.maxCost})}">Next</a>
            </li>


        </ul>
        <!--        -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>


        <script th:inline="javascript">


            $(document).ready(function () {


                const reason = [[${reason}]];
                const reason2 = [[${result.dtoList}]];

                if(reason != null && reason == "redirect")
                {
                    console.log("리다이렉트 됨");

                    $('.modal-body').html('<h0> 참석한 모임이 없습니다 </h0>');

                    $('.modal').modal('show');
                }


            })




        </script>

    </th:block>

</th:block>