<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">


    <th:block th:fragment="content">
        <h1 class="mt-4">Meeting List Page
            <span sec:authorize="isAuthenticated()">

                <a th:href="@{/board/register}">
                    <button type="button" class="btn btn-outline-primary">
                        REGISTER
                    </button>
                </a>
            </span>
        </h1>

        <!--        검색 폼-->

        <form th:action="@{/board/list}" method="get" id="searchForm">

            <div class="input-gorup">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <span class="col-md-5">
                        <label style="font-weight: bold" >Basic Item</label>
                        <input type="checkbox" id="type0" th:checked="${pageRequestDTO.getType(0)}">Ttile
                        <input style="margin-left: 20%" type="checkbox"
                               id="type1" th:checked="${pageRequestDTO.getType(1)}">Content
                        <input style="margin-left: 20%" type="checkbox" id="type2"
                               th:checked="${pageRequestDTO.getType(2)}">Writer
                    </span>
                    <input class="form-control" name="typeKeyword" th:value="${pageRequestDTO.typeKeyword}">

                    <div class="input-group-append" id="button-addon4">

                        <button class="btn btn-outline-secondary btn-search" type="button">Search</button>

                        <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                    </div>
                </div>

                <div class="input-group-prepend">
                    <span class="col-md-5">
                        <label style="font-weight: bold" >Add Item</label>
                        <input type="checkbox" name="region" th:checked="${pageRequestDTO.region}">Region
                    </span>
                    <input class="form-control" name="regionKeyword" th:value="${pageRequestDTO.regionKeyword}">
                </div>

                <div class="input-group-prepend">
                     <span class="col-md-5">
                         <label style="font-weight: bold" >Meeting Cost</label>
                         <input class="form-control-sm" type="text" name="minCost" th:value="${pageRequestDTO.minCost}"> ~
                         <input class="form-control-sm" type="text" name="maxCost" th:value="${pageRequestDTO.maxCost}">
                     </span>
                </div>

                <div id="hiddenCheck">

                </div>
            </div>

        </form>

        <!--        -->

        <!--        데이타 로우-->
        <table class="table table-striped">
            <thead>
<!--            <th scope="col">#</th>-->
            <th width="50px" style="word-break:break-all" scope="col">Number</th>
            <th width="100px" style="word-break:break-all" scope="col">Title</th>
            <th width="400px" style="word-break:break-all"scope="col">Place</th>
            <th width="150px" scope="col">Writer</th>
            <th width="50px" scope="col">Regdate</th>
            </thead>

            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/board/read(bno= ${dto.bno}, page = ${result.page}, type=${pageRequestDTO.type},
                    typeKeyword = ${pageRequestDTO.typeKeyword} , region = ${pageRequestDTO.region},
                    regionKeyword=${pageRequestDTO.regionKeyword}, minCost =${pageRequestDTO.minCost},
                    maxCost=${pageRequestDTO.maxCost})}">
                        [[${dto.bno}]]
                    </a>
                </th>
                <td>
                        [[${dto.title}]]</a>[<b th:text="${dto.replyCount}"></b>]
                </td>

                <td><small>[[${dto.place}]]</small></td>
                <td><small> [[${dto.writerEmail}]]</small></td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>


            </tbody>
        </table>
        <!--       -->


<!--        하단 페이지 리스트-->
        <ul class="pagination h-100 justify-content-center align-items-center">

            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/board/list(page= ${result.start - 1}, type=${pageRequestDTO.type},
                    typeKeyword = ${pageRequestDTO.typeKeyword} , region = ${pageRequestDTO.region},
                    regionKeyword=${pageRequestDTO.regionKeyword}, minCost =${pageRequestDTO.minCost},
                    maxCost=${maxCost})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page? 'active' : ''} "
                th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/board/list(page= ${page}, type=${pageRequestDTO.type},
                    typeKeyword = ${pageRequestDTO.typeKeyword} , region = ${pageRequestDTO.region},
                    regionKeyword=${pageRequestDTO.regionKeyword}, minCost =${pageRequestDTO.minCost},
                    maxCost=${maxCost})}">

                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board/list(page= ${result.end + 1}, type=${pageRequestDTO.type},
                    typeKeyword = ${pageRequestDTO.typeKeyword} , region = ${pageRequestDTO.region},
                    regionKeyword=${pageRequestDTO.regionKeyword}, minCost =${pageRequestDTO.minCost},
                    maxCost=${maxCost})}">Next</a>
            </li>


        </ul>
<!--        -->

        <script th:inline="javascript">

            var searchForm = $("#searchForm");

            $('.btn-search').click(function (e) {

                var minCost = $('input[name=minCost]').val() == "" ? null : parseInt($('input[name=minCost]').val());
                var maxCost = $('input[name=maxCost]').val() == "" ? null : parseInt($('input[name=maxCost]').val());


                if(minCost == null && maxCost != null)
                {
                    alert("모임 비용 조건을 올바르게 입력하세요");
                    return;
                }
                else if(minCost != null && maxCost == null)
                {
                    alert("모임 비용 조건을 올바르게 입력하세요");
                    return;
                }
                else if(minCost > maxCost)
                {
                    alert("모임 비용 조건을 올바르게 입력하세요");
                    return;
                }

                if(minCost != null && minCost < 0)
                {
                    alert("모임 비용 조건을 올바르게 입력하세요");
                    return;
                }

                if(maxCost != null && maxCost < 0)
                {
                    alert("모임 비용 조건을 올바르게 입력하세요");
                    return;
                }


                var type0 = $('#type0').is(":checked");
                var type1 = $('#type1').is(":checked");
                var type2 = $('#type2').is(":checked");


                var str="";
                str += '<input type="hidden" name="type[0]" value="'+type0+'">';
                str += '<input type="hidden" name="type[1]" value="'+type1+'">';
                str += '<input type="hidden" name="type[2]" value="'+type2+'">';


                $('#hiddenCheck').html(str);


                searchForm.submit(); //searchForm 폼에 있는 내용들을 담아서 현재 페이지 재호출
            })

            $('.btn-clear').click(function (e) {

                searchForm.empty().submit();
            })




        </script>



    </th:block>

</th:block>