<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <form action="/board/modify" method="post">
            <h1 class="mt-4"> Board Modify Page </h1>

            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">


            <div class="form-group">
                <label>Bno</label>
                <input type="text" class="form-control" name="bno"
                       th:value="${dto.bno}" readonly>
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title"
                       th:value="${dto.title}">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" name="content"
                          th:value="${dto.bno}">[[${dto.content}]]</textarea>

            </div>

            <!--            네이버 지도 api-->
            <div id="map" style="width:50%;height:400px;"></div>
            <label>주소 :  </label><input type="text" id="address">
            <button id="addSearch">검색</button>
            <button type="button" id="comfirm">확정</button>
            <!--            네이버 지도 api-->

            <div class="form-group">
                <label >Meeting Costs</label>
                <input class="form-control" name="costs" th:value="${dto.costs}">
            </div>

            <div class="form-group">
                <label >Meeting Place</label>
                <input class="form-control" name="place" th:value="${dto.place}">
            </div>


            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer"
                       th:value="${dto.writerEmail}" readonly>
            </div>

            <div class="form-group">
                <label>RegDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

            <div class="form-group">
                <label>ModDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>

        </form>


        <button type="button" class="btn btn-primary modifyBtn"> Modify</button>


        <button type="button" class="btn btn-info listBtn"> List</button>


        <button type="button" class="btn btn-danger fremoveBtn" > Remove</button>


        <script th:inline="javascript">

            $('#comfirm').click(function () {

                var totalAdd = jibunAdd + " | " + roadAdd;
                $("input[name=place]").val(totalAdd);
                $("input[name=position]").val(pos);

            })

            var addrs = [[${dto.place}]];
            var addr = addrs.split('|');

            var map = new naver.maps.Map("map", {
                center: new naver.maps.LatLng(37.3595316, 127.1052133),
                zoom: 15,
                mapTypeControl: true
            });

            var infoWindow = new naver.maps.InfoWindow({
                anchorSkew: true
            });

            map.setCursor('pointer');

            function searchCoordinateToAddress(latlng) {

                infoWindow.close();

                naver.maps.Service.reverseGeocode({
                    coords: latlng,
                    orders: [
                        naver.maps.Service.OrderType.ADDR,
                        naver.maps.Service.OrderType.ROAD_ADDR
                    ].join(',')
                }, function(status, response) {
                    if (status === naver.maps.Service.Status.ERROR) {
                        if (!latlng) {
                            return alert('ReverseGeocode Error, Please check latlng');
                        }
                        if (latlng.toString) {
                            return alert('ReverseGeocode Error, latlng:' + latlng.toString());
                        }
                        if (latlng.x && latlng.y) {
                            return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
                        }
                        return alert('ReverseGeocode Error, Please check latlng');
                    }


                    pos = "lat:"+latlng.y +", lng:"+ latlng.x;
                    console.log("마우스 "+pos);

                    var address = response.v2.address,
                        htmlAddresses = [];

                    if (address.jibunAddress !== '') {
                        jibunAdd = address.jibunAddress;
                        htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
                    }

                    if (address.roadAddress !== '') {
                        roadAdd = address.roadAddress;
                        htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
                    }

                    infoWindow.setContent([
                        '<div style="padding:10px;min-width:200px;line-height:150%;">',
                        '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
                        htmlAddresses.join('<br />'),
                        '</div>'
                    ].join('\n'));


                    infoWindow.open(map, latlng);
                });
            }

            function searchAddressToCoordinate(address) {

                naver.maps.Service.geocode({
                    query: address
                }, function(status, response) {
                    if (status === naver.maps.Service.Status.ERROR) {
                        if (!address) {
                            return alert('Geocode Error, Please check address');
                        }
                        return alert('Geocode Error, address:' + address);
                    }

                    if (response.v2.meta.totalCount === 0) {
                        return alert('No result.');
                    }

                    var htmlAddresses = [],
                        item = response.v2.addresses[0],
                        point = new naver.maps.Point(item.x, item.y);


                    pos = "lat:"+item.y +", lng:"+ item.x;

                    console.log("검색 "+pos);

                    if (item.roadAddress) {
                        roadAdd = item.roadAddress;
                        htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
                    }

                    if (item.jibunAddress) {
                        jibunAdd = item.jibunAddress;
                        htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
                    }

                    if (item.englishAddress) {
                        htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
                    }

                    infoWindow.setContent([
                        '<div style="padding:10px;min-width:200px;line-height:150%;">',
                        '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
                        htmlAddresses.join('<br />'),
                        '</div>'
                    ].join('\n'));

                    map.setCenter(point);
                    infoWindow.open(map, point);
                });
            }


            function initGeocoder() {
                if (!map.isStyleMapReady) {
                    return;
                }

                map.addListener('click', function(e) {
                    searchCoordinateToAddress(e.coord);
                });

                $('#addSearch').on('click', function(e) {
                    e.preventDefault();

                    searchAddressToCoordinate($('#address').val());
                });

                searchAddressToCoordinate(addr[0]);
            }

            naver.maps.onJSContentLoaded = initGeocoder;
            naver.maps.Event.once(map, 'init_stylemap', initGeocoder);














            var actionForm = $("form");


            $(".removeBtn").click(function () {

                actionForm.attr("action", "/board/remove")
                    .attr("method", "post");

                actionForm.submit();
            })

            $(".modifyBtn").click(function () {

                console.log("dddddd")
                if (!confirm("수정하시겠습니다?")) {
                    return;
                }


                actionForm.attr("action", "/board/modify").attr("method", "post");
                actionForm.submit();

                console.log("eeeee")
            });


            $(".listBtn").click(function () {

                var page = $("input[name='page']"); //상단에 hidden으로 데이터 숨겨있음
                var type = $("input[name='type']"); //상단에 hidden으로 데이터 숨겨있음
                var keyword = $("input[name='keyword']"); //상단에 hidden으로 데이터 숨겨있음


                actionForm.empty();
                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                actionForm.attr("action", "/board/list").attr("method", "get");

                //console.log(actionForm.html());
                actionForm.submit();
            });


        </script>

    </th:block>


</th:block>