<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4"> Board Read Page </h1>

        <input type="hidden" name="page" th:value="${requestDTO.page}">
        <input type="hidden" name="type" th:value="${requestDTO.type}">
        <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">


        <input type="hidden" name="bno" th:value="${dto.bno}" readonly>

<!--        <div class="form-group">-->
<!--            <label>Bno</label>-->
<!--            <input type="text" class="form-control" name="gno"-->
<!--                   th:value="${dto.bno}" readonly>-->
<!--        </div>-->

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title"
                   th:value="${dto.title}" readonly>
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="5" name="content"
                      readonly>[[${dto.content}]]</textarea>
        </div>


<!--        참가 관련-->
        <div id="attendDiv"></div>





        <div id="map" style="width:50%;height:400px;"></div>


        <div class="form-group">
            <label>Limit Date</label>
            <input id="limitDate" class="form-control"type="datetime-local" th:value="${dto.limitDate}" readonly>
        </div>


        <div class="form-group">
            <label >Meeting Costs</label>
            <input class="form-control" name="costs" th:value="${dto.costs}" readonly>
        </div>

        <div class="form-group">
            <label >Meeting Place</label>
            <input class="form-control" name="place" th:value="${dto.place}" readonly>
        </div>


        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer"
                   th:value="${dto.writerEmail}" readonly>
        </div>



        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <div class="form-group">
            <label>ModDate</label>
            <input type="text" class="form-control" name="modDate"
                   th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>


        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/board/modify(bno = ${dto.bno}, page = ${requestDTO.page}, type=${requestDTO.type},
                keyword = ${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary" id="modiBtn" th:if="${session['user'].email} == ${dto.writerEmail}"> Modify</button>
                </a>
        </span>




        <a th:href="@{/board/list(page=${requestDTO.page}, size=${requestDTO.size}
        , type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-info"> List</button>
        </a>


        <div>
            <div class = "mt-4">
                <h5><span class="badge badge-secondary replyCount">
                    Reply Count [[${dto.replyCount}]]</span></h5>
            </div>

            <div sec:authorize="isAuthenticated()" class="form-group">
                <form>
                    <input type="text" name="replyText" placeholder="댓글을 입력해주세요" size="50">
                    <input type="text" name="replyer" size="30" th:value="${session['user'].email}" readonly>
                    <button type ="button" class="btn btn-primary replySave">Save</button>
                </form>
            </div>

            <div class="list-group replyList"> </div>
        </div>


<!--    getAttend에서 로그인 여부 확인 위해    -->
        <div sec:authorize="isAuthenticated()">
            <input type="hidden" class="connectedEmail" name="connectedEmail" th:value="${session['user'].email}">
        </div>
        <div sec:authorize="isAnonymous()">
            <input type="hidden" class="connectedEmail" name="connectedEmail" value="false">
        </div>
<!--            -->


        <script th:inline="javascript">
            console.log("tv");
  //

  var addrs = [[${dto.place}]];
  var addr = addrs.split('|');

  var map = new naver.maps.Map("map", {
      center: new naver.maps.LatLng(37.3595316, 127.1052133),
      zoom: 15,
      mapTypeControl: true
  });

  var infoWindow = new naver.maps.InfoWindow({
      anchorSkew: true
  });

  map.setCursor('pointer');

  function searchCoordinateToAddress(latlng) {

      infoWindow.close();

      naver.maps.Service.reverseGeocode({
          coords: latlng,
          orders: [
              naver.maps.Service.OrderType.ADDR,
              naver.maps.Service.OrderType.ROAD_ADDR
          ].join(',')
      }, function(status, response) {
          if (status === naver.maps.Service.Status.ERROR) {
              if (!latlng) {
                  return alert('ReverseGeocode Error, Please check latlng');
              }
              if (latlng.toString) {
                  return alert('ReverseGeocode Error, latlng:' + latlng.toString());
              }
              if (latlng.x && latlng.y) {
                  return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
              }
              return alert('ReverseGeocode Error, Please check latlng');
          }


          pos = "lat:"+latlng.y +", lng:"+ latlng.x;

          var address = response.v2.address,
              htmlAddresses = [];

          if (address.jibunAddress !== '') {
              jibunAdd = address.jibunAddress;
              htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
          }

          if (address.roadAddress !== '') {
              roadAdd = address.roadAddress;
              htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
          }

          infoWindow.setContent([
              '<div style="padding:10px;min-width:200px;line-height:150%;">',
              '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
              htmlAddresses.join('<br />'),
              '</div>'
          ].join('\n'));


          infoWindow.open(map, latlng);
      });
  }

  function searchAddressToCoordinate(address) {

      naver.maps.Service.geocode({
          query: address
      }, function(status, response) {
          if (status === naver.maps.Service.Status.ERROR) {
              if (!address) {
                  return alert('Geocode Error, Please check address');
              }
              return alert('Geocode Error, address:' + address);
          }

          if (response.v2.meta.totalCount === 0) {
              return alert('No result.');
          }

          var htmlAddresses = [],
              item = response.v2.addresses[0],
              point = new naver.maps.Point(item.x, item.y);


          pos = "lat:"+item.y +", lng:"+ item.x;


          if (item.roadAddress) {
              roadAdd = item.roadAddress;
              htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
          }

          if (item.jibunAddress) {
              jibunAdd = item.jibunAddress;
              htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
          }

          if (item.englishAddress) {
              htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
          }

          infoWindow.setContent([
              '<div style="padding:10px;min-width:200px;line-height:150%;">',
              '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
              htmlAddresses.join('<br />'),
              '</div>'
          ].join('\n'));

          map.setCenter(point);
          infoWindow.open(map, point);
      });
  }


  function initGeocoder() {

      if (!map.isStyleMapReady) {
          return;
      }

      map.addListener('click', function(e) {
          searchCoordinateToAddress(e.coord);
      });



      searchAddressToCoordinate(addr[0]);
  }




  //

            function formatTime(str){
                var date = new Date(str);

                return date.getFullYear() + '/' +
                    (date.getMonth() + 1) + '/' +
                    date.getDate() + ' ' +
                    date.getHours() + ':' +
                    date.getMinutes();
            }


            function fn_editReply(rno, replyer, content, date){

                var str = "";
                str += '<div class="card-body" id="rno'+rno+'"><b>'+rno +'</b>';
                str += '<h0 class="reply_set"><a href="javascript:void(0)" style="padding-right:5px" onclick="modifyReply(' + rno + ', \''+ replyer + '\')">저장</a>' +
                    '</h0><h0 class="reply_set"><a href="javascript:void(0)" onclick="loadJSONData()">취소</a></h0>';
                str += ' <input name="editContent" id="editContent" class="form-control" rows="2" value="'+content+'">'
                str += ' <h6 class="card-subtitle mb-2 text-muted">' + replyer
                    +'</h6>';

                str += ' <p class="card-text">' + formatTime(date);
                str += '</p>'
                str += ' </div>';

                $('#rno' + rno).replaceWith(str);
                $('#rno' + rno + ' #editContent').focus();
            }


            function modifyReply(rno, replyer){

                var text = $("input[name='editContent']").val();
                var bno = [[${dto.bno}]];

                var reply = {
                    rno : rno,
                    bno: bno,
                    text: text,
                    replyer: replyer
                }
                // var headers = {"Content-Type" : "application/json"
                //     , "X-HTTP-Method-Override" : "put"};
                $.ajax({
                    url: "/replies/" + rno
                    // , headers : headers
                    , method : 'put'
                    , contentType : 'application/json; charset=utf-8'
                    , data : JSON.stringify(reply)
                    , type : 'POST'
                    , dataType : 'text'
                    , success: function(data){

                        var modRno = parseInt(data);

                        alert(modRno + "번 댓글이 수정되었습니다.")
                        loadJSONData();
                    }
                    , error: function(error){
                        console.log("에러 : " + error);
                    }
                });

            }

            function fn_deleteReply(rno){
                $.ajax({
                    url: "/replies/" + rno
                    , method : 'delete'
                    , success: function(data){

                        var delRno = parseInt(data);

                        alert(delRno + "번 댓글이 삭제되었습니다.")
                        loadJSONData();
                    }
                    , error: function(error){
                        console.log("에러 : " + error);
                    }
                });

            }


            function loadJSONData() {

                console.log("loadJSONData1111");
                var bno = [[${dto.bno}]];

                var listGroup = $(".replyList");

                $.getJSON('/replies/board/' + bno, function(arr){

                    var str = "";

                    $('.replyCount').html(" Reply Count " + arr.length);

                    $.each(arr, function(idx, reply){
                        str += '<div class="card-body" id="rno'+reply.rno+'"><b>'+reply.rno +'</b>';
                        str += '<h0 class="reply_set"><a href="javascript:void(0)" onclick="fn_editReply(' + reply.rno + ', \'' + reply.replyer + '\', \'' + reply.text + '\' , \''+ reply.regDate+'\')" style="padding-right:5px">수정</a>' +
                            '</h0><h0 class="reply_set"><a href="javascript:void(0)" onclick="fn_deleteReply(' + reply.rno + ')">삭제</a></h0>';
                        str += ' <h5 class="card-title">' + reply.text+'</h5>';
                        str += ' <h6 class="card-subtitle mb-2 text-muted">' + reply.replyer
                            +'</h6>';

                        str += ' <p class="card-text">' + formatTime(reply.regDate);
                        str += '</p>'
                        str += ' </div>';
                    })

                    listGroup.html(str);
                })

                console.log("loadJSONData2222");
            }






            $(".replySave").click(function(){

                var bno = [[${dto.bno}]];

                var reply = {
                    bno: bno,
                    text: $('input[name="replyText"]').val(),
                    replyer: $('input[name="replyer"]').val()
                }


                var headers = {"Content-Type" : "application/json"
                    , "X-HTTP-Method-Override" : "POST"};
                $.ajax({
                    url: "/replies/"
                    , headers : headers
                    , data : JSON.stringify(reply)
                    , type : 'POST'
                    , dataType : 'text'
                    , success: function(data){

                        var newRno = parseInt(data);

                        alert(newRno + "번 댓글이 등록되었습니다.")
                        loadJSONData();
                        $('input[name="replyText"]').val("");

                    }
                    , error: function(error){
                        console.log("에러 : " + error);
                    }
                });
            })


            function getAttend(currentConnectedEmail){

                console.log("getAttend111");


                var writerEmail = [[${dto.writerEmail}]];
                var headers = {"Content-Type" : "application/x-www-form-urlencoded"
                    , "X-HTTP-Method-Override" : "POST"};

                var str ="";

                var data = {
                    bno : [[${dto.bno}]]
                }
                $.ajax({
                    url: "/attend/getAttend"
                    , headers : headers
                    , data : data
                    , type : 'POST'
                    , dataType : 'json'
                    , success: function (result){
                        var attend = result['AttendDTO'];
                        var currentConnEmail = result['ConnectedEmail'];

                        console.log("정상22");

                        str += '<div class="form-group">';
                        str += '<input class="form-control-sm" id="attendState" value="'+attend.currentCnt+
                            '/'+attend.requiredCnt+'" readonly>';
                        str += '</div>';

                        var end = [[${dto.end}]];

                        if(end == true)
                        {
                            str += '<button type="button" class="btn btn-danger" >마감</button>';
                        }
                        else
                        {
                            var paraEmail = "'"+currentConnEmail+"'";

                            var bno = [[${dto.bno}]];
                            var page = [[${requestDTO.page}]];
                            var type = [[${requestDTO.type}]];
                            var keyword = [[${requestDTO.keyword}]];

                            if(currentConnectedEmail == writerEmail)
                            {
                                str += '<a href="/board/confirm?bno='+ bno + '&page=' +
                                    page +'&type='+ type +'&keyword=' +
                                    keyword + ')">';
                                str += '<button type="button" class="btn btn-primary" id="confirmBtn">확정</button>';
                                str += '</a>';
                            }
                            else
                            {
                                if(currentConnectedEmail != "")
                                {
                                    if(attend.members.includes(currentConnectedEmail)) {
                                        str += '<div class="form-group">';
                                        str += '<button type="button" class="btn btn-danger" id="absentBtn" onclick="attendMember('+paraEmail+')">' +
                                            '불참하기</button>';
                                        str += '</div>';

                                    }
                                    else
                                    {   var curCnt = parseInt(attend.currentCnt);
                                        var reqCnt = parseInt(attend.requiredCnt);
                                        if(curCnt < reqCnt)
                                        {
                                            console.log(currentConnectedEmail);
                                            str += '<div class="form-group">';
                                            str += '<button type="button" class="btn btn-primary" id="attendBtn" ' +
                                                'onclick="attendMember('+paraEmail+')">' +
                                                '참가하기</button>';
                                            str += '</div>';
                                        }
                                    }

                                }
                            }

                        }



                        console.log("직전");
                        $('#attendDiv').html(str);

                    }
                    ,error : function (error){
                        console.log("에러 : " + error);
                    }


                })
            }



            function attendMember(email){
                var headers = {"Content-Type" : "application/x-www-form-urlencoded"
                    , "X-HTTP-Method-Override" : "POST"};

                var data = {
                    bno : [[${dto.bno}]],
                    attendEmail : email
                }
                var str = "";
                $.ajax({
                    url: "/attend/attendMember"
                    , headers : headers
                    , data : data
                    , type : 'POST'
                    , dataType : 'json'
                    , success: function (result){
                        var attend = result['AttendDTO'];
                        var currentConnEmail = result['ConnectedEmail'];
                        getAttend(currentConnEmail);
                    }
                    ,error : function (error){
                        console.log("에러 : " + error);
                    }
                })
            }






            naver.maps.onJSContentLoaded = initGeocoder;
            naver.maps.Event.once(map, 'init_stylemap', initGeocoder);




            $(document).ready(function(){
                console.log("ready1111");
                loadJSONData();

                var connectedEmail = $('.connectedEmail').val().toString();



                if(connectedEmail != "false")
                {
                    email = connectedEmail;
                }
                else
                {
                    email = "";
                }

                getAttend(email);

                console.log("ready222");
            })




        </script>


    </th:block>


</th:block>