<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>

            #main_title {
                width: 100%;
            }

            #main_title h1 {
                text-align: center;
            }

            #sub_title {
                width: 100%;
            }

            #sub_title h1 {
                text-align: center;
                font-size: x-large;
            }

            .category {
                width: 100%;
                background-color: #6c757d;
                margin-bottom: 1%;
            }

            .category h1 {
                font-weight: bold;
                font-size: large;
                color: white;
                margin-left: 5%;
                margin-top: 1%;
            }
        </style>


        <!-- Page Content -->
        <div class="container">

            <div id="main_title">
                <h1 class="mt-4"> Meeting Appointment Page </h1>
            </div>
            <br>
            <div id="sub_title">
                <h1> Attend various meetings and make friends! </h1>
            </div>


            <div class="row">
                <div class="category">
                    <h1>Recent Board</h1>
                </div>

                <div class="col-lg-4 col-md-6 mb-4" th:each="boardDTO : ${boardDTOList}">
                    <div class="card h-100">
                        <div class="card-img-top">
                            <div th:id="map+ ${boardDTO.bno}" style="width:100%;height:400px;"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/board/read(bno= ${boardDTO.bno})}" style="text-decoration: none">[[${boardDTO.title}]]</a>
                            </h4>
                            <h5>[[${boardDTO.content}]]</h5>
                            <p class="card-text">[[${boardDTO.place}]]</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">참여 금액 : [[${boardDTO.costs}]]</small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="category">
                    <h1>Recent Review</h1>
                </div>

                <div class="col-lg-4 col-md-6 mb-4" th:each="reviewDTO : ${reviewDTOList}">
                    <div class="card h-100">
                        <a th:href="@{/review/reviewRead(rro= ${reviewDTO.rro})}" style="text-decoration: none">
                            <img class="card-img-top" style="width: 100%; height: 400px;" th:if="${reviewDTO.imageList.size() > 0}"
                                         th:src="|/review/getPhoto?fileName=${reviewDTO.imageList[0].getThumImgURL()}|">
                            <div class="card-img-top"  th:if="${reviewDTO.imageList.size() == 0}" style="width:100%;height:400px;background-color: #6c757d;">
                                <div style=" display:table;width:100%;height:100%;text-align: center;">
                                    <h5 style="color: white; display: table-cell;vertical-align: middle;" >This post does not have an image</h5>
                                </div>

                            </div>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/review/reviewRead/(rro= ${reviewDTO.rro})}" style="text-decoration: none">[[${reviewDTO.title}]]</a>
                            </h4>
                            <p class="card-text">[[${reviewDTO.content}]]</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><img src="/img/icons8-facebook-like-24_fill.png"> [[${reviewDTO.like.likeCnt}]]</small>
                        </div>
                    </div>
                </div>



            </div>


        </div>

        <script th:inline="javascript">

            function makeMapAndMarker(boardDTOList) {

                $.each(boardDTOList, function(index, boardDTO){

                    const position = boardDTO.position;
                    const arr = position.split(",");

                    const lat = arr[0].split(":");
                    const lng = arr[1].split(":");
                    const bno = boardDTO.bno;


                    var map = new naver.maps.Map('map' + bno.toString(), {
                        center: new naver.maps.LatLng(lat[1], lng[1]),
                        zoom: 15
                    });

                    var marker = new naver.maps.Marker({
                        position: new naver.maps.LatLng(lat[1], lng[1]),
                        map: map
                    });

                })
            }
            $(document).ready(function () {

                makeMapAndMarker([[${boardDTOList}]]);

            })

        </script>

    </th:block>

</th:block>